body{
    background-image: url("wood.webp");
    font-family: 'Cookie', cursive;
    color: white;
}

button{
    font-family: 'Cookie', cursive;
}

header, footer{
    background-color: black;
    padding: 5px;
}

#logo{
    display: inline-block;
    min-height: 1px;
    width: 18%;
}

#logo img{
    width: 60px;
    height: 60px;
}

#nawigacja{
    line-height: 1.4rem;
    display: inline-block;
    width: 60%;
    margin: auto;
    text-align: center;
}

#navbar2{
    line-height: 1.4rem;
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}

#nawigacja a{
    padding-left: 10px;
    color: white;
    text-decoration: underline;
}

#navbar2 a{
    padding-left: 10px;
    color: white;
    text-decoration: underline;
}

#navbar a:hover{
    color: #FFD77F;
}

#telefon{
    display: inline-block;
    width: 18%;
}

#slider{
    background-color: black;
    height: 200px;
}

#lewy{
    margin-left: 3%;
    height: 100%;
    display: inline-block;
    width: 45%;
}

#prawy{
    height: 100%;
    display: inline-block;
    width: 45%;
}

#prawy img{
    height: 180px;
    width: 100%;
}

#zamow{
    padding: 4px;
    border-color: #7FD7FF;
    color: #7FD7FF;
    background-color: black;
    border-radius: 0;
    border-style: solid;
}

#rezerwacja{
    padding: 4px;
    border-color: #FFD77F;
    color: #FFD77F;
    background-color: #936c02;
    border-radius: 0;
    border-style: solid;
}

#zamow:hover{
    color: #333333;
    border-color: #333333;
}

#rezerwacja:hover{
    color: #333333;
    border-color: #333333;
}

.wyb{
    position: relative;
    border: 3px black solid;
    display: inline-block;
    background-color: gray;
    width: 30%;
    margin: 1%;
    height: 150px;
    background-size: 100% auto;
}

.wyb p{
    position: absolute;
    bottom: 0;
    right: 10px;
}

#wyb1{
    background-image: url("element1.webp");
}

#wyb2{
    background-image: url("element2.webp");
}

#wyb3{
    background-image: url("element3.webp");
}

#menu{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pizza{
    display: inline-block;
    width: 20%;
    margin: 2%;
    min-height: 10px;
    text-align: center;
}

.pizza img{
    width: 90%;
}